@import '../../style-vars/fonts.scss';

.popup {
    background: white;
    width: 450px;
    position: fixed;
    top: 105px;
    right: 10px;
    padding: 10px 20px;
    background: $nav-bg;
    color: white;
    border-radius: 10px;
    z-index: 10;
    transition: 0.5s all;
    transform: translateX(800px);

    &__btn-wrapper {
        position: fixed;
        top: 30px;
        right: 15px;
        color: white;
        z-index: 10;
        transition: 0.4s all;
        width: 100px;
        border-bottom: 1px solid white;

    }

    &__btn-inner{
        position: relative;
        width: 50px;
        transition: 0.4s all;
        transform: translateX(50px);
    }
    &__btn-inner.active{
        transition: 0.4s all;
        transform: translateX(0px);
    }

    &__btn {
        width: 45px;
        height: 45px;
        transform: scale(-1, 1);
        &-index {
            position: absolute;
            top: -10px;
            left: -20px;
            width: 30px;
            height: 30px;
            padding-left: 9px;
            border-radius: 50%;
            line-height: 30px;
            background: red;
        }
    }

    &__submit {
        @extend %default-font;
        padding: 10px 20px;
        width: 100%;
        background: $filter-item-active;
        text-transform: uppercase;
        color: black;
        font-size: 16px;
        font-weight: 600;
    }


    &__title {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }


    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(238, 238, 238, 0.123);
        padding: 5px 0px;

        &-title {
            flex-basis: 120px;
            font-size: 16px;
        }

        &-size {
            flex-basis: 50px;
            text-align: center;
        }

        &-prise {
            flex-basis: 70px;
            text-align: right;
            font-size: 18px;
        }

        &-img {
            width: 70px;
            height: 50px;
            object-fit: cover;
        }
    }

    &__names {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;

        &-item {
            margin: 0px 42px 0px 20px;
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;

        &-prise {
            color: rgb(0, 192, 0);
        }
    }
}

.popup.active {
    transition: 0.5s all;
    transform: translateX(0px);
}