@import '../../style-vars/fonts.scss';

.card {
    padding: 20px;
    background: $card-background;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 400px;

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-size: 26px;
        font-weight: 600;
    }

    &__image {
        width: 230px;
        height: 350px;
        object-fit: cover;
    }

    &__art {
        font-size: 16px;
        color: rgb(220, 220, 220);
        margin-bottom: 10px;
    }

    &__specialization{
        display: flex;
        color: rgb(39, 39, 39);
        &-item{
            margin-right: 10px;
        }
    }

    &__decoration {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 10px 0px;
        &-item {
            width: 20px;
            height: 15px;
            margin-right: 15px;
            background: orange;
        }
    }

    &__sizes-list{
        margin-bottom: 15px;
        &-item{
            color: rgba(56, 56, 56, 0.726);
        }
    }

    &__prise{
        margin-bottom: 15px;
    }

    &__sizes {
        margin-bottom: 10px;
        border-radius: 0px;
        outline: 0;
        text-align: center;
        width: 50px;
        padding: 5px;
        border: 1px solid orange;
        &-item {
            border: 1px solid orange;
        }
    }
}