@import '../../style-vars/fonts.scss';

.products{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 700px));
    justify-content: center;
    gap: 30px;
    overflow-x: hidden;
    @media (max-width: 1600px){
        grid-template-columns: repeat(2, minmax(300px, 700px));
    }
    @media (max-width: 1000px){
        grid-template-columns: repeat(1, minmax(300px, 700px));
    }
}




