@import '../../style-vars/fonts.scss';

.sidebar {
    @extend %sidebar-font;
    width: 311px;
    height: 100%;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    background: $nav-bg;
    position: absolute;
    top: 0px;
    left: 0px;

    &.mini{
        width: 88px;
        display: flex;
        flex-direction: column;
    }

    &__header{
        margin: 0px 24px;
    }

    &__menu-btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
        color: white;
        margin-bottom: 20px;
    }

    &__logo-container {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 40px;
        height: 40px;
    }

    &__logo-text {
        font-size: 34px;
        color: white;
    }

    &__nav{
        margin: 30px 16px;
    }

    &__nav-ico {
        width: 20px;
        height: 20px;
        color: white;
    }

    &__nav-title {
        font-size: 16px;
        padding-left: 16px;
    }

    &__nav-link {
        display: flex;
        flex-basis: 100%;
        border-radius: 8px;
        color: $nav-text-color;
        cursor: pointer ;
        padding: 16px;
        &:hover{
            background: $hover-block;
            color: $hover-text;
        }
    }

    &__nav-link.active{
        background: $hover-block;
        color: $hover-text;
    } 
}

