
.slider {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__window {
        overflow: hidden;
    }

    &__track {
        display: flex;
        justify-content: flex-start;
        display: flex;
        transition: 0.5s all;
    }

    &__item {
        text-align: center;
        padding: 10px;
        object-fit: contain;
        transform: rotate(6.5deg);
    }

    &__nav-btn {
        position: relative;
        z-index: 1;
        width: 30px;
        height: 30px;
        font-size: 18px;
        background: white;
    }
}